.vidcont{
    position: absolute;
}

.container{
    margin: 25px auto;
    width: 1260px;
    position: relative;
}

h1{
    margin: auto;
    width: 650px;
    color: white;
    background-color: rgba(59,62,69,0.9);
    border-radius: 8px;
    border: 3px solid darkgrey;
   box-shadow: 0px 0px 20px grey;
    padding: 5px 3px 5px 10px;
    
}
.head-bg{
	position: absolute;
	z-index: -1;
height: 35px;
width: 700px;
}
.vidcont{
	border-radius: 5px;
    border: 3px solid white;
}
.bg{
	position: absolute;
	z-index: -1;
margin-top: -7px;
width: 1340px;
height: 655px;

}